*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.menu {
    width: 100%;
    height: 50vh;
    display: flex;
	 background: linear-gradient(to right, rgb(145, 152, 153) 100px, #e9ecf1); 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: fixed; */
}
h1 {
    letter-spacing: 5px;
    font-size: 45px;
    display: flex;   
    color: rgb(152, 8, 8);
    
}
h2 {
   font-size: 40px;
   color: rgb(86, 86, 104);
   margin: 20px;
}
p {
    color: rgb(215, 197, 197);
   font-size: 25px;
   margin: 5px;
}
.logo {
    display: block;
    text-align: center;
}
.logo img {
    width: 150px;
    height: 150px;
}
section ul {
    display: flex;
}
section ul li {
    margin: 30px;
    font-size: 25px;
    list-style-type: none;
}
section ul li a {
    text-decoration: none;
    letter-spacing: 2px;
    color: rgb(105, 7, 7);
}
.container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(2, 16, 47);
}
.container img {
    width: 400px;
    height: 370px;
    border-radius: 5%;
    filter: drop-shadow(  0 0 5px #000);
}
.container2 {
    width: 100%;
    height: 20vh;
    display: flex;
    background: #e12976;
    justify-content: center;
    align-items: center;
}
h3 {
    color: #fff;
    font-size: 40px;
}
.container2 img {
    width: 300px;
    height: 300px;
    border-radius: 5%;
    filter: drop-shadow(  0 0 5px #000);
}
.container3 {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:  rgb(2, 16, 47);
}
.container3 img {
    width: 300PX;
    height: 300px;
    border-radius: 5%;
    filter: drop-shadow(  0 0 5px #000);
}
.container4 {
    width: 100%;
    height: 20vh;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(35, 126, 150) 50px, #7286b0); ;
}
.caja img {
    width: 40px;
    height: 40px;
    filter: drop-shadow(  0 0 5px #000);
    margin: 30px;
}
h4 {
    font-size: 20px;
    margin: ;
    color: rgb(5, 21, 55);
    
}

